.venv/
.git/
.github/

.dvc/cache/
.dvc/tmp/

__pycache__/
*.pyc

.ipynb_checkpoints/
.vscode/

mlflow.db
mlruns/
mlartifacts/

models/pytorch/*.pth
models/pytorch/checkpoints/

*.log

notebooks/
tests/