# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*

# Model files
models/**/*.pt
models/**/*.pth
models/**/*.keras
models/**/*.h5

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

