# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# MLflow
mlflow.db
mlruns/
mlartifacts/

# DVC cache
.dvc/cache/

# Model files
models/pytorch/*.pth
models/pytorch/checkpoints/
models/tensorflow/*.keras
models/tensorflow/*.h5

# Logs
*.log

# OS
.DS_Store
Thumbs.db
